.bookRow {
    display: flex;
    height: 60vh;
}

.bookRow > .dune > img {
    width: 25vw;
    height: 60vh;
}
.bookRow > .mistborn > img {
    width: 25vw;
    height: 60vh;
}
.bookRow > .radiance > img {
    width: 25vw;
    height: 60vh;
}

.bookRow > .mistborn {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    padding-right: 2vw;
}
.bookRow > .dune {
    flex: 1;
    display: flex;
    justify-content: center;
}
.bookRow > .radiance {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    padding-left: 2vw;
}

.bookQuote {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bookQuote h3 {
    color: lightpink;
}