.bookQuoteRow {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80vh;
}

.bookQuoteRows {
    display: flex;
    flex-direction: column;
    width: 100vw;
    flex-grow: 1;
}

.bookQuote {
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bookQuote h3 {
    color: lightpink;
}

.bookRow {
    display: flex;
    flex-direction: row;
    height: 75%;
    width: 100%;
}

.bookImage {
    width: 25vw;
    height: 60vh;
}

.bookRow > .leftBook {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    padding-right: 2vw;
}
.bookRow > .middleBook {
    flex: 1;
    display: flex;
    justify-content: center;
}
.bookRow > .rightBook {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    padding-left: 2vw;
}

