.bioPage {
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-image: url(../../Assets/Bio/color.gif);
    background-size: cover;

}


.bioTab {
    display: flex;
    width: 100vw;
}


.psuedoNav {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    height: 10vh;
    padding-left: 5vw;
    padding-right: 5vw;
    background-color: rgba(30, 100, 220, .25);
}

.psuedoNavItem {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.psuedoNavItem h4 {
    color: greenyellow;
}